@page
@model Assignment_Management.Pages.Student_Details.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.MiddleName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.MiddleName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.MailID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.MailID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.salt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.salt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.hash)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.hash)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Student.PRN">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
